.button
{
	-fx-background-color: #FFCF33;
	-fx-background-radius: 0px;
	-fx-border-color: #CCA528;
}

.button:hover {
	-fx-background-color: #E5BA2D;
}

.button:pressed {
	-fx-background-color: #FFF;
}
