.button
{
	-fx-background-color: #FFCF33;
	-fx-background-radius: 0px;
	
}

.button:hover {
	-fx-background-color: #E5BA2D;
}

.button:pressed {
	-fx-background-color: #FFF;
}

.button:focused {
	-fx-background-color: #FFF;
	-fx-border-color: #E5BA2D;
	-fx-border-width: 0px 0px 0px 5px;
}

.button:armed {
	-fx-background-color: #FFF;
	-fx-border-color: #E5BA2D;
	-fx-border-width: 0px 0px 0px 5px;
}