.table-view {
	-fx-border-color: #CCA528;

}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #FFCF33;

    

}
.table-view .column-header .label{
   -fx-text-fill: black;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
   -fx-background-color: #E5BA2D;
   -fx-text-background-color:  black;
   -fx-table-cell-border-color: white;


}

.table-row-cell:hover {
	-fx-background-color: khaki;
}